body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

fieldset {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #bbb;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 20px;
}

legend {
    color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.1rem;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #5c6bc0;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    color: #fff;
    font-size: 1.1rem;
}

td {
    color: #ddd;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

#des-select {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#des-select:focus {
    background-color: #444;
    outline: none;
}

.container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input:focus, select:focus {
    background-color: #444;
    border-color: #4CAF50;
    outline: none;
}

label {
    color: #ddd;
    margin-bottom: 5px;
    display: block;
}

select {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
}