body {
    background-color: rgb(18, 17, 17);
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 0;
}

fieldset {
    margin-bottom: 20px;
}

button {
    margin: 0 10px 50px 10px;
}

table {
    border: solid 1px rgb(186, 186, 220);
    width: 200px;
}

thead {
    background-color: rgb(186, 186, 220);
}

tr {
    padding: 10px;
}

th {
    padding: 10px;
    color: black;
}

#des-select {
    width: 100%;
}